* {
    padding: 0px;
    margin: 0px;
}

body {
    background: #CDCDCD;
}

img {
    width: 100%;
}

h1 {
    color: #051026;
    font-family: 'BeonMedium';
    font-size: 3rem;
}

h2 {
    color: #051026;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5rem;
}

h5 {
    color: #051026;
    font-family: 'Titillium Web', sans-serif;
    font-size: 2rem;
}

/* BURGERMENU */

.bg-dark {
    background-color: #051026 ! important;
}

.navbar-dark .navbar-brand {
    color: #69B7BF;
}

.stickyB {
    position: sticky;
    top: 0;
    z-index: 21;
}

.splash {
    background-image: url(billeder/Bottles_Splash_smaller.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-top: -3%;
}

.links {
    /*  background-color: #123;*/
    background-color: #051026;
    background-image: linear-gradient(to bottom, #0003, transparent);
    border-bottom: 1px solid #0003;
    font-size: 1.5rem;
    font-weight: 300;
}

.links > a {
    font-family: 'Titillium Web', sans-serif;
    color: #69B7BF;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all .5s;
}

.links > a:hover {
    background: rgb(50, 60, 80);
    color: #adf;
    text-decoration: none;
}

.links > .line {
    background: #68a;
    height: 1px;
    pointer-events: none;
}

.header {
    top: 0;
    left: 0;
    right: 0;
}

.links {
    display: grid;
    grid-template-columns: repeat(var(--items), 1fr);
    position: relative;
}

.links > .line {
    opacity: 0;
    transition: all .5s;
    position: absolute;
    bottom: 0;
    left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
    width: var(--width, calc(100% / var(--items)));
    --index: 0;
}

.links > a:hover ~ .line {
    opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line {
    --index: 1;
}

.links > a:nth-of-type(2):hover ~ .line {
    --index: 2;
}

.links > a:nth-of-type(3):hover ~ .line {
    --index: 3;
}

.links > a:nth-of-type(4):hover ~ .line {
    --index: 4;
}

.links > a:nth-of-type(5):hover ~ .line {
    --index: 5;
}

.links > a:nth-of-type(6):hover ~ .line {
    --index: 6;
}

.links > a:nth-of-type(7):hover ~ .line {
    --index: 7;
}

.links > a:nth-of-type(8):hover ~ .line {
    --index: 8;
}

.links > a:nth-of-type(9):hover ~ .line {
    --index: 9;
}

.links > a:nth-of-type(10):hover ~ .line {
    --index: 10;
}

.links > a:last-of-type:hover ~ .line {
    --index: var(--items);
}

.sticky {
    z-index: 21;
    position: fixed;
    top: 0;
    width: 100%;
}

.break {
    background-image: url(billeder/drops.png);
    background-attachment: fixed;
    background-position: 100% 10%;
    width: 100%;
    height: 20vh;
    margin-top: 1%;
    margin-bottom: 1%;
}

#info img {
    margin-top: 15%;
}

#info .text {
    margin-top: 10%;
}

#info p {
    font-size: 1.2rem;
}

#shop .container {
    display: flex;
}

#shop p {
    color: #051026;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5rem;
}

.carousel-item {
    margin-top: -10%;
}

.carousel-item img {
    margin-bottom: 5%;
}

.carousel {
    width: 60%;
    height: 100%;
}


#ingredienser .container {
    display: flex;
}

#ingredienser p {
    font-size: 1.2rem;
}

#ingredienser .indholdDrik {
    display: flex;
    margin-bottom: 5%;
}

#ingredienser .indholdDrik h3 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 6rem;
    color: #051026;
}

#ingredienser .original {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: transform;
}

#ingredienser .original:hover {
    transform: scale(1.1);
}

#ingredienser .kokos {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: transform;
}

#ingredienser .kokos:hover {
    transform: scale(1.1);
}

#ingredienser .tropisk {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: transform;
}

#ingredienser .tropisk:hover {
    transform: scale(1.1);
}

#ingredienser .appelsin {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: transform;
}

#ingredienser .appelsin:hover {
    transform: scale(1.1);
}

#ingredienser .sukker {
    border-radius: 100%;
    border: 5px solid #69B7BF;
    padding: 1%;
    width: 20%;
    height: 10%;
    text-align: center;
}

#ingredienser .kulhydrater {
    border-radius: 100%;
    border: 5px solid #69B7BF;
    padding: 1%;
    width: 20%;
    height: 10%;
    text-align: center;
}

#ingredienser .vitaminer {
    border-radius: 100%;
    border: 5px solid #69B7BF;
    padding: 1%;
    width: 20%;
    height: 10%;
    text-align: center;
}

#ingredienser .kalorier {
    border-radius: 100%;
    border: 5px solid #69B7BF;
    padding: 1%;
    width: 20%;
    height: 10%;
    text-align: center;
}

#referencer .container {
    display: flex;
}

#referencer .overskrift {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 3rem;
    color: #051026;
}

#referencer p {
    font-size: 1.2rem;
}

/*FOOTER*/

footer {
    background-color: #051026;
    width: 100%;
    height: 20vh;
}

footer .container h3 {
    color: #69B7BF;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5rem;
}

footer .container .kontakt {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: transform;
}

footer .container .kontakt:hover {
    transform: scale(1.1);
}

footer .container .adresse {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: transform;
}

footer .container .adresse:hover {
    transform: scale(1.1);
}

footer .container .medier {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: transform;
}

footer .container .medier:hover {
    transform: scale(1.1);
}

footer .container .kontakt {
    margin-right: 5%;
    margin-top: 5%;
}

footer .container .adresse {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
}

footer .container .medier {
    margin-left: 5%;
    margin-top: 5%;
}

/*FONTE OG MEDIA*/

@font-face {
    font-family: 'BeonMedium';
    src: url('beon-webfont.eot');
    src: local('☺'), url('beon-webfont.eot?#iefix') format('embedded-opentype'), url('font/beon-webfont.woff') format('woff'), url('beon-webfont.ttf') format('truetype'), url('beon-webfont.svg#BeonMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media only screen and (min-width: 576px) {
    .navbar {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .header {
        display: none;
    }

    .splash {
        height: 80vh;
        margin-top: -3%;
        margin-bottom: -10%;
        background-position: 53%;
    }

    .carousel-item {
        margin-top: -10%;
    }

    .carousel-item img {
        margin-bottom: 5%;
    }

    .carousel {
        width: 80%;
    }

    .break {
        height: 10vh;
    }

    #ingredienser .indholdDrik {
        flex-direction: column;
        align-items: center;
    }

    #ingredienser .sukker {
        width: 40%;
        margin-bottom: 5%;
    }

    #ingredienser .kulhydrater {
        width: 40%;
        margin-bottom: 5%;
    }

    #ingredienser .vitaminer {
        width: 40%;
        margin-bottom: 5%;
    }

    #ingredienser .kalorier {
        width: 40%;
        margin-bottom: 10%;
    }

    footer .container .kontakt {
        margin-top: 10%;
    }

    footer .container .adresse {
        margin-top: 10%;
    }

    footer .container .medier {
        margin-top: 10%;
    }

}
